.authentication {
    width: 500px;
    max-width: 98%;
    margin: 2rem auto;
    box-sizing: border-box;
    padding: 1rem;
    background: white;
    border-radius: 5px;
}

.authentication .auth-form-heading {
    margin: 0 0 2rem 0;
    text-align: center; 
}

.authentication .auth-form-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0 0.5rem 0;
    font-weight: 500;
}

.error-modal {
    width: 480px;
}
.error-modal-header {
    background: #d32f2f;
    color: white;
}